<div class="gadgetButton">
    <div class="buttons has-addons is-centered">
        <button class="button is-link" id="participants"> Participants </button>
        <button class="button is-link"> Registration </button>
        <button class="button is-link"> Delete post </button>
        <button class="button is-link"> Create Poll </button>
    </div>
    <div class="buttons has-addons is-centered">
        <button class="button is-link"> Create </button>
        <button class="button is-link">  </button>
        <button class="button is-link"> </button>
        <button class="button is-link">  </button>
    </div>
</div>

<script>

</script>