<h1 style="text-align: left; margin-left: 20px;" class="is-size-4">Meetings: </h1>
<div class="meetings">
    <div id="slider" class="slider">

        <a href="#slide" onclick='slide(this)'>&#60;</a>
        <!-- <a href="#slide-1" onclick='slide(this)'>1</a> -->
        <!-- <a href="#slide-2" onclick='slide(this)'>2</a> -->
        <a href="#slide" onclick='slide(this)'>&#62;</a>

        <div id="AddSlides" class="slides">


        </div>

    </div>
</div>

<!-- <div id="slide-1">
        <p>1</p>
        <div id="meetingSlide1" class="meetingSlide">
            <p class="is-size-4">Meeting Title</p>
            <p class="is-size-6">Time: 111111</p>
            <p class="is-size-6">Joining Link: </p>
            <p class="is-size-6">Meeting Id: </p>
            <p class="is-size-6">Meeting Password: </p>
        </div>
    </div>
    <div id="slide-2">
        <p>2</p>
        <div id="meetingSlide2" class="meetingSlide">
            
        </div>
    </div> -->

<div class="gadgetButton">
    <div class="buttons has-addons is-centered">
        <button class="button is-link" id="participants"> Participants </button>
        <button class="button is-link"> Registration </button>
        <button class="button is-link"> Delete post </button>
        <button class="button is-link"> Create Poll </button>
    </div>
    <div class="buttons has-addons is-centered">
        <button class="button is-link"> Create </button>
        <button class="button is-link">  </button>
        <button class="button is-link"> </button>
        <button class="button is-link">  </button>
    </div>
</div>

<script>

</script>