<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ClassAlly</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://kit.fontawesome.com/98424b8b4f.js" crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

    <script>
        window.$ = window.jQuery = require('../js/jquery.js');
    </script>

</head>

<body style="text-align:center; background-color: white !important;">

    <div class="bodyDiv">

        <div id="currentPage">
            <a id="underlay" role="button" class="button"></a>
            <a onclick="endMeetingFunc(this)" id="endClass" role="button" class="button">
                <span class="icon">
                    <i class="fas fa-video"></i>
                </span>
                &nbsp;
                End Classally
            </a>

            <div style="margin-top: -12px" id="meetingInfo">
                <h1 id="topicHTML" style="font-weight: bold;" class="is-size-4">TitleTitle <br></h1>

                <h3 id="idHTML">ID: &nbsp; </h3>
                <!-- <h3 id="passwordID">Password: &nbsp;</h3> -->

                <h3 style="line-height: 40px; display: inline-block; margin-right: 10px;">Copy Join URL:</h3>
                <a id="copyJoinURL" onclick="copyText(this)"
                    style="display: inline-block; border: none; color: white; background-color: orange;" role="button"
                    class="button">
                    <span class="icon">
                        <i class="fas fa-clipboard"></i>
                    </span>
                </a>
                <div id="copyValidation" style="display: none;">
                    <span class="icon">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <br>
                <br>
                <a onclick="openURL(this)" id="startHTML" style="width: 90vw" role="button"
                    class="button is-info is-medium">
                    Start
                    &nbsp;
                    &nbsp;
                    <span class="icon">
                        <i class="fas fa-play"></i>
                    </span>
                </a>
                <!-- <i class="fas fa-plus-circle"></i> -->
            </div>

            <a id="expandInfo" onclick="expand(this)" role="button" class="button is-outlined is-small">
                <span class="icon">
                    <i class="fas fa-minus-circle"></i>
                </span>
                &nbsp;
                Info
            </a>

            <div style="display: none;" id="controlPanel">
                <div id="attendancePanel" class="controlSection">
                    <h3 style="font-weight: bold; margin-top: 5px; border-radius: 20px;">Attendance: <strong id="fraction"></strong>
                        <button id="attendanceView" class="button changeViewState">
                            <span class="icon"><i class="fas fa-minus-circle"></i></span>
                        </button>
                    </h3>
                    <div id="attendanceHidden">
                        <br>
                        <div id="Connected" class="subBox">
                            <!-- <div class="unconnectedMember"><span class="icon has-text-danger"><i class="fas fa-circle"></i></span>&nbsp;<p>Sonny Lowe</p></div> -->
                        </div>
                    </div>
                </div>

                <div id="appTrack" class="controlSection">
                    <h3 style="font-weight: bold; margin-top: 5px; border-radius: 20px;">App Track
                        <button id="appTrackView" class="button changeViewState">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                        </button>
                    </h3>
                    <div id="appTrackHidden">
                        <div id="onTaskStudents" class="subBox">
                            <!-- <div class="studentTaskStatus">
                                <p>
                                    <span id="taskStatus" class="icon has-text-success">
                                        <i class="fas fa-check-square"></i>
                                    </span> Timmy
                                </p>
                            </div>
                            <div class="studentTaskStatus">
                                <p>
                                    <span id="taskStatus" class="icon has-text-danger">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span> Timmy

                                    <button class="button is-danger is-outlined nudgeButton">
                                        <span>nudge</span>
                                    </button>
                                </p>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div id="modal-error" class="popupBox tile is-ancestor">
                    <div class="tile is-parent">
                      <div class="tile is-child box">
                        <button id="closeError" class="button is-danger fa fa-times fa-sm closePopups"></button>
                        <h4>ClassAlly Bot</h4><br />
                        <div id="error-details">
                  
                        </div>
                      </div>
                    </div>
                  </div>

                <div id="questionsPanel" class="controlSection">
                    <h3 style="font-weight: bold; margin-top: 5px; border-radius: 20px;">Engage
                        <button id="engageView" class="button changeViewState">
                            <span class="icon"><i class="fas fa-plus-circle"></i></span>
                        </button>
                    </h3>
                    <div id="questionsHidden">
                        <button id="askQuestion" role="button" class="button controlButton is-medium is-warning">
                            <span class="icon"><i class="fas fa-comments"></i></span>&nbsp;&nbsp;Ask
                        </button>
                        <button id="endSession" role="button" class="button controlButton is-medium is-warning" disabled>
                            <span class="icon"><i class="fas fa-hourglass-end"></i></span>&nbsp;&nbsp;End Session
                        </button>

                        <div id="responseEditor" class="subBox">
                        </div>
                        <div id="questionEditor" class="subBox">
                            <p>
                                <h5 style="float: left; margin-top: 5px;">Question:</h5>
                                <div id="selectDiv" class="select is-rounded">
                                    <select onchange="changeResponseType(this)" id="questionType">
                                        <option value="freeResponse">Free Response</option>
                                        <option value="singleSelect">Single Select</option>
                                        <option value="multipleSelect">Multiple Select</option>
                                    </select>
                                </div>
                            </p>

                            <br>
                            <div id="question-form">
                                <div class="field">
                                    <div class="field">
                                        <div class="control">
                                            <textarea id="question-text" class="textarea" rows="2"
                                                placeholder="Put your question here..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div id="responseSide">
                                    <h5 style="margin-top: -25px;">Response:</h5>
                                    <div id="freeResponseBox">
                                        <p id="textFieldIcon">Text-Field</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div id="smartChat" class="controlSection">
                    <h3 style="font-weight: bold; margin-top: 5px; border-radius: 20px;">Smart Chat
                        <button id="smartChatView" class="button changeViewState">
                            <span class="icon"><i class="fas fa-minus-circle"></i></span>
                        </button>
                        <p id="minimizedNotif" class="button changeViewState">
                            0
                        </p>
                    </h3>

                    <div id="smartChatHidden">
                        <a role="button" class="button controlButton is-medium is-success">
                            <span class="icon"><i class="fas fa-eye"></i></span>&nbsp;&nbsp;Open
                        </a>
                        <a role="button" class="button controlButton is-medium is-success" disabled>
                            <span class="icon"><i class="fas fa-lock"></i></span>&nbsp;&nbsp;Lock
                        </a>

                        <div style="margin-top: 7px" class="tabs is-centered is-small is-boxed">
                            <ul>
                                <li id="chat1nav" class="is-active"><a onclick="switchChat(this, 1)">General</a></li>
                                <li id="chat2nav"><a onclick="switchChat(this, 2)">Resources</a></li>
                                <li id="chat3nav"><a onclick="switchChat(this, 3)">Questions</a></li>
                            </ul>
                        </div>
                        <div id="generalBox" class="messageBox"></div>
                        <div id="resourcesBox" class="messageBox"></div>
                        <div id="questionsBox" class="messageBox"></div>
                        <form id="messageForm">
                            <div style="margin-left: 10px; margin-right: 10px;" class="field is-centered has-addons">
                                <div class="control is-expanded">
                                    <input id="messageContent" class="input" type="text" placeholder="Send A Message"
                                        required>
                                </div>
                                <div class="control">
                                    <button class="button is-info">
                                        <span class="icon"><i class="fas fa-paper-plane"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>





    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCvP4Bv3KmKyrUn5STNO0GtWeIxryWDWbc",
            authDomain: "classally.firebaseapp.com",
            databaseURL: "https://classally.firebaseio.com/",
            projectId: "classally",
            storageBucket: "classally.appspot.com",
            messagingSenderId: "411372173067",
            appId: "1:411372173067:web:22317d448f7a8d09b0540e",
            measurementId: "G-5V93BWFHW4"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        //make auth and firestore references
        const auth = firebase.auth();
        const rtdb = firebase.database();
        const db = firebase.firestore();
    </script>
    <!-- <script src="../js/zoomAuth.js"></script> -->

    <script>
        let questionEditor = document.getElementById("questionEditor");
        let responseEditor = document.getElementById("responseEditor");
        let currentType = "freeResponse";
        let responseSide = document.getElementById("responseSide");
        let optionAmount = 2;

        function changeResponseType(el) {
            let tempType = el.value;
            if (tempType == "freeResponse") {
                responseSide.innerHTML = `
                    <h5 style="margin-top: -25px;">Response:</h5>
                    <div id="freeResponseBox">
                        <p id="textFieldIcon">Text-Field</p>
                    </div>
                `;
                currentType = "freeResponse";
            } else if (tempType == "singleSelect") {
                if (currentType != "singleSelect" && currentType != "multipleSelect") {
                    responseSide.innerHTML = `
                    <p>
                        <h5>Response:</h5>
                        <button onclick="addOption(this)" class="button is-rounded is-link" id="addOption">Add</button>
                    </p>
                    
                    <div id="optionsContainer">
                        <div id="optionsTable">
                            <div class="tableRow">
                                <div class="tableCell choiceTextbox">
                                    <p class="control">
                                        <span class="optionNumbering">1</span> . &nbsp
                                        <input class="input optionText" maxlength="50" type="text" placeholder="Option...">
                                    </p>
                                </div>
                                <div class="tableRow deleteOption">
                                    <button onclick="deleteOption(this)" id="` + "deleteOption1" + `" class="button is-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="tableRow">
                                <div class="tableCell choiceTextbox">
                                    <p class="control">
                                        <span class="optionNumbering">2</span> . &nbsp
                                        <input class="input optionText" maxlength="50" type="text" placeholder="Option...">
                                    </p>
                                </div>
                                <div class="tableRow deleteOption">
                                    <button onclick="deleteOption(this)" id="` + "deleteOption2" + `" class="button is-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
                    optionAmount = 2;
                }
                currentType = "singleSelect";
            } else {
                if (currentType != "singleSelect" && currentType != "multipleSelect") {
                    responseSide.innerHTML = `
                    <p>
                        <h5>Response:</h5>
                        <button onclick="addOption(this)" class="button is-rounded is-link" id="addOption">Add</button>
                    </p>
                    
                    <div id="optionsContainer">
                        <div id="optionsTable">
                            <div class="tableRow">
                                <div class="tableCell choiceTextbox">
                                    <p class="control">
                                        <span class="optionNumbering">1</span> . &nbsp
                                        <input class="input optionText" maxlength="50" type="text" placeholder="Option...">
                                    </p>
                                </div>
                                <div class="tableRow deleteOption">
                                    <button onclick="deleteOption(this)" id="` + "deleteOption1" + `" class="button is-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="tableRow">
                                <div class="tableCell choiceTextbox">
                                    <p class="control">
                                        <span class="optionNumbering">2</span> . &nbsp
                                        <input class="input optionText" maxlength="50" type="text" placeholder="Option...">
                                    </p>
                                </div>
                                <div class="tableRow deleteOption">
                                    <button onclick="deleteOption(this)" id="` + "deleteOption2" + `" class="button is-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt fa-sm"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;
                    optionAmount = 2;
                }
                currentType = "multipleSelect";
            }
        }

        let errorModal = document.getElementById("modal-error");
        let errorDetails = document.getElementById("error-details");
        let closeError = document.getElementById("closeError");
        errorModal.style.display = "none";

        closeError.onclick = function(){
            errorModal.style.display = "none";
        }

        function deleteOption(el){
            let needDeleting = document.getElementById(el.id);
            let parentDelete = needDeleting.parentElement.parentElement;
            let optionNumbers = document.getElementsByClassName("optionNumbering");
             
            if(optionAmount >= 3){
                parentDelete.remove();
                optionAmount -= 1;

                for(let i = 0; i < optionNumbers.length; i++){
                    optionNumbers[i].innerHTML = i+1;
                }
            }else{
                errorModal.style.display = "block";
                errorDetails.innerText = "You must have at least 2 options!"
            }
        }

        function addOption(el){
            let optionsTable = document.getElementById("optionsTable");

            if(optionAmount <= 4){
                optionAmount += 1;
                let optionText = [];
                let optionTexts = document.getElementsByClassName("optionText");
                for(let i = 0; i < optionTexts.length; i++){    
                    optionText.push(optionTexts[i].value);
                }
                optionText.push("");
                optionsTable.innerHTML += `
                    <div class="tableRow">
                        <div class="tableCell choiceTextbox">
                            <p class="control">
                                <span class="optionNumbering">` + optionAmount + `</span> . &nbsp
                                <input class="input optionText" type="text" maxlength="50" placeholder="Option...">
                            </p>
                        </div>
                        <div class="tableRow deleteOption">
                            <button onclick="deleteOption(this)" id="deleteOption` + optionAmount + `" class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-trash-alt fa-sm"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                `;

                optionTexts = document.getElementsByClassName("optionText");
                for(let i = 0; i < optionTexts.length; i++){    
                    optionTexts[i].value = optionText[i];
                }
            }else{
                errorModal.style.display = "block";
                errorDetails.innerText = "Sorry, the maximum is 5 options."
            }
        }
    </script>

    <script src="../js/meetingPopout.js"></script>
    <script src="../js/meetingPopoutAPI.js"></script>
    <script src="../js/messaging.js"></script>
    <script src="../js/meetingGadgets.js"></script>
    <link rel="stylesheet" href="../css/meetingPopout.css">
</body>

</html>