<!-- SIGN UP MODAL -->
<div id="modal-signup" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">

      <button id="closeLog" class="button is-danger fa fa-times fa-lg closePopups"></button>
      <h4>Sign up</h4><br />

      <form id="signup-form">
        <div class="field">
          <label for="signup-name">Name</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" id="signup-name" placeholder="Name" required />
            <span class="icon is-small is-left">
              <i class="fas fa-id-badge"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="signup-email">Email address</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" id="signup-email" placeholder="Email" required />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="signup-password">Your password</label>
          <p class="control has-icons-left">
            <input class="input" type="password" id="signup-password" placeholder="Password" required />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="signup-school">Choose School</label>
          <div class="control has-icons-left is-expanded">
            <div class="select is-fullwidth">
              <select id="signup-school">
                <option selected disabled value="">Select Your School</option>
                <option value="Bellarmine">Bellarmine</option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fas fa-school"></i>
            </div>
          </div>
        </div>
        <button class="button is-link">Sign Up</button>
      </form>

      <h3 id="singUpError"></h3>
    </div>
  </div>
</div>

<!-- LOGIN MODAL -->
<div id="modal-login" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <button id="closeSign" class="button is-danger fa fa-times fa-lg closePopups"></button>
      <h4>Login</h4><br />

      <form id="login-form">
        <div class="field">
          <label for="login-email">Email address</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" id="login-email" placeholder="Email" required />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="login-password">Your password</label>
          <p class="control has-icons-left">
            <input class="input" type="password" id="login-password" placeholder="Password" required />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <button class="button is-link">Login</button>
      </form>

      <h3 id="loginError"></h3>
    </div>
  </div>
</div>

<!-- ACCOUNT MODAL -->
<div id="modal-account" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <button id="closeAccount" class="button is-danger fa fa-times fa-lg closePopups"></button>
      <h4>Account details</h4><br />
      <div id="account-details">

      </div>
    </div>
  </div>
</div>


<!-- Add Classroom MODAL -->
<div id="modal-classroom" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <button id="closeRooms" class="button is-danger fa fa-times fa-lg closePopups"></button>
      <h4>Add Classroom</h4><br />

      <form id="addClassroomForm">
        <div class="field">
          <label for="class-name">Class Name</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" id="class-name" placeholder="Class Name" required />
            <span class="icon is-small is-left">
              <i class="fas fa-chalkboard"></i>
            </span>
          </p>
        </div>
        <div class="field is-grouped">
          <div class="field">
            <label style="float: left;" for="class-num">Period Num</label>
            <p class="control has-icons-left">
              <input style="float: left; width: 70%;" class="input" type="number" id="class-num" placeholder="Per"
                required />
              <span class="icon is-small is-left">
                <i class="fas fa-sort-numeric-up-alt"></i>
              </span>
            </p>
          </div>
          <div class="field has-addons">
            <datalist id="class-students">
              <!-- <option value="1234567890123456789012345"> -->
            </datalist>

            <div class="field has-addons">
              <label for="classStudentsInput">Students</label>
              <div style="margin-top: 24px; margin-left:-35%; margin-right: 0px; width:135%; float: right; "  class="control has-icons-left">
                <input id="classStudentsInput" class="input" type="text" placeholder="Search" list="class-students">
                <span class="icon is-small is-left">
                  <i class="fas fa-school"></i>
                </span>
              </div>
              <div style="margin-top: 24px; " class="control">
                <a class="button is-info" id="addStudentClass">
                  Add
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="addedStudents">

        </div>
        <br>
        <button class="button is-link">Ceate</button>
      </form>

      <h3 style="margin-top: 10px;" class="is-size-7" id="classroomMessage"></h3>
    </div>
  </div>
</div>

<!-- ADD STUDENTS MODAL -->
<div id="modal-students" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <button id="closeStudents" class="button is-danger fa fa-times fa-lg closePopups"></button>
      <h4>Students</h4><br />

      <form id="students-form">
        <div class="field">
          <label for="student-name">Student Name</label>
          <p class="control has-icons-left">
            <input class="input" type="text" id="student-name" placeholder="Name" required />
            <span class="icon is-small is-left">
              <i class="fas fa-user-alt"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="student-email">Zoom Email</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" id="student-email" placeholder="Email" required />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <button class="button is-link">Add</button>
      </form>

      <h3 id="studentMessage"></h3>
    </div>
  </div>
</div>


<!-- Tutorial MODAL -->
<div id="modal-tutorial" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <button id="closeTutorial" class="button is-danger fa fa-times fa-lg closePopups"></button>

      <h4 class="is-size-4">Tutorial</h4>
        <div class="tutorial">
          <h6>Steps:</h6>
          <a href="#step-1">1</a>
          <a href="#step-2">2</a>
          <a href="#step-3">3</a>
          <a href="#step-4">4</a>
          <a href="#step-5">5</a>
        
          <div class="steps">
            <div id="step-1">
              1
            </div>
            <div id="step-2">
              2
            </div>
            <div id="step-3">
              3
            </div>
            <div id="step-4">
              4
            </div>
            <div id="step-5">
              5
            </div>
          </div>
      </div>
      <br />
    </div>
  </div>
</div>

<!-- Create Meeting MODAL -->
<div id="modal-createMeeting" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">

      <button id="closeCreateMeeting" class="button is-danger fa fa-times fa-lg closePopups"></button>
      <h4>Create Meeting</h4><br />

      <form id="createMeeting-form">
        <div class="field">
          <label for="createMeeting-topic">Meeting Topic</label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" id="createMeeting-topic" value="" required />
            <span class="icon is-small is-left">
              <i class="fas fa-rocket"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="createMeeting-email">Email address <p class="is-size-7">(default to account)</p></label>
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" id="createMeeting-email" value="" required />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label for="createMeeting-password">Meeting password <p class="is-size-7">(max-length: 10)</p></label>
          <p class="control has-icons-left">
            <input class="input" type="password" id="createMeeting-password" maxlength="10" placeholder="Password" required />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div style="margin-left: -10px" id="toggleSettings" class="field is-grouped is-grouped-centered">
          <p class="control is-size-7">
            Participant <br> Video
          </p>
          <p class="control is-size-7">
            Mute Upon <br> Entry
          </p>
          <p class="control is-size-7">
            Waiting <br> Room
          </p>
        </div>
        <!-- participant_video, mute_upon_entry, waiting_room -->
        <div id="toggleSettings" class="field is-grouped is-grouped-centered">
          <p class="control">
            <input type="checkbox" id="participant_video" />
            <label for="participant_video"></label>
          </p>
          <p class="control">
            <input type="checkbox" id="mute_upon_entry" checked/>
            <label for="mute_upon_entry"></label>
          </p>
          <p class="control">
            <input type="checkbox" id="waiting_room" checked/>
            <label for="waiting_room"></label>
          </p>
        </div>

        <button class="button is-link">Start</button>
      </form>

      <h3 id="singUpError"></h3>
    </div>
  </div>
</div>

<!-- ACCOUNT MODAL -->
<div id="modal-id" class="popupBox tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <!-- <button id="closeId" class="button is-danger fa fa-times fa-lg closePopups"></button> -->
      <h4>Linking Zoom Account</h4><br />
      <div id="account-id">
        <a role="button" class="button is-info is-outlined" data-target="modal-logout" id="authLogoutButton">Log Out</a>
      </div>
    </div>
  </div>
</div>
