<nav id="navbarLeft" aria-label="left navigation">

  <br>
  <br>
  <ul>
    <li>
      <a role="button" class="button is-info is-outlined" data-target="" id="">
        <span class="icon">
          <i class="fa fa-chalkboard-teacher"></i>
        </span>
      </a>
    </li>
    <li>
      <a role="button" class="button is-info is-outlined" data-target="" id="">
        <span class="icon">
          <i class="fa fa-graduation-cap"></i>
        </span>
      </a>
    </li>
    <li>
      <a role="button" class="button is-info is-outlined" data-target="" id="">
        <span class="icon">
          <i class="fa fa-sliders-h"></i>
        </span>
      </a>
    </li>
  </ul>
  <div class="triangle-right"></div>

</nav>