<nav id="navbarLeft" aria-label="left navigation">

  <br>
  <br>
  <ul>
    <li>
      <a role="button" class="activePageButton button is-info is-outlined" data-target="" id="classroomButton">
        <span class="icon">
          <i class="fa fa-chalkboard-teacher"></i>
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        <p class="menuText">Classroom</p>
      </a>
    </li>
    <li>
      <a role="button" class="button is-info is-outlined" data-target="" id="studentButton">
        <span class="icon">
          <i class="fa fa-graduation-cap"></i>
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        <p class="menuText">Student</p>
      </a>
    </li>
    <li>
      <a role="button" class="button is-info is-outlined" data-target="" id="settingsButton">
        <span class="icon">
          <i class="fa fa-sliders-h"></i>
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        <p class="menuText">Settings</p>
      </a>
    </li>



    <!-- <li style="top: 80vh;">
      <a role="button" class="button is-info is-outlined" data-target="" id="helpButton">
        <span class="icon">
          <i class="far fa-question-circle"></i>
        </span>
        &nbsp;
        &nbsp;
        &nbsp;
        <p class="menuText">Help</p>
      </a>
    </li> -->
  </ul>
  <div class="triangle-right"></div>

</nav>