<nav id="navbarRight" aria-label="right navigation">

  <br>
  <br>
  <ul>
    <div class="loggedOutButtons">
      <li><a role="button" class="button is-info is-outlined" data-target="modal-login" id="loginButton">Login In</a>
      </li>
      <li><a role="button" class="button is-info is-outlined" data-target="modal-signup" id="signupButton">Sign Up</a>
      </li>
    </div>
    <div class="loggedInButtons">
      <br>
      <h1 class="status" id="emailStatus"></h1>
      <br>
      <p id="access_token">Zoom Connection:<span class="icon"><i class="fas fa-times-circle"></i></span></p>
      <!-- fas fa-check-square -->
      <div class="authorizeSection">
        <p>One Time Zoom Authorization Needed
        </p>
        <button class="button is-primary" id="authorize">Authorize App</button>
      </div>
      
      <li><a role="button" class="button is-info is-outlined" data-target="modal-logout" id="logoutButton">Log Out</a>
      </li>
      <li><a role="button" class="button is-info is-outlined" data-target="modal-accountInfo" id="accountInfoButton">My
          Account</a></li>
    </div>
  </ul>

  <div class="meetings">
    <h1 id="meetingsTitle">Schedule</h1>

    <div id="slider" class="slider">

      <div id="AddSlides" class="slides">

      </div>
      <a href="#slide" onclick='slide(this)'><span class="icon"><i class="fas fa-arrow-left"></i></span></a>
      <!-- <a href="#slide-1" onclick='slide(this)'>1</a> -->
      <!-- <a href="#slide-2" onclick='slide(this)'>2</a> -->
      <a href="#slide" onclick='slide(this)'><span class="icon"><i class="fas fa-arrow-right"></i></span></a>
    </div>
  </div>

</nav>