<nav id="navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28"> -->
      </a>

      <div class="navbar-start">
        <div class="navbar-item">
          <a role="button" class="button is-info" data-target="modal-login" id="loginButton">Login In</a>
          <a role="button" class="button is-info" data-target="modal-signup" id="signupButton">Sign Up</a>
        </div>
      </div>
  
  
      <div class="navbar-end">
        <div class="navbar-item">
          <a role="button" class="button is-info" data-target="modal-logout" id="logoutButton">Log Out</a>
          <a role="button" class="button is-info" data-target="modal-accountInfo" id="accountInfoButton">My Account</a>
        </div>
      </div>
      
    </div>
  </nav>