html{
  overflow: hidden !important;
}

body{
  font-family: Comfortaa;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.bodyDiv{
  position:fixed;
  height: 100vh; 
  width:100vw; 
  border-radius: 50px !important; 
  background-color: #F3F0F5;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  padding-top: 50px;
}

.startAPI{
  display: none;
}

.mainBody{
  display: none;
  margin-right: 20vw;
  margin-left: 10vw;
}

.titlebar{
  background-color: transparent !important;
  height: 4vh !important;
  color: black !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.action-menu-item{
  color: black !important;
  background-color: white !important;
}

.menubar-menu-button{
  margin-left: 12vw;
}

.menubar-menu-container{
  background-color: white !important;
}

.action-menu-item:last-of-type{
  height: 35px !important;
}

.action-menu-item:hover{
  color: white !important;
  background-color: rgb(149, 149, 241) !important;
}

.window-controls-container{
  filter: invert(1);
}

.authorizeSection{
  display: none;
}

.mainBody {
  margin-top: 7vh;
}

.displayBlock {
  display: block !important;
}

.activePageButton span{
  width: 32px !important;
  height: 32px !important;
  margin-left: -12px !important;
  border-radius: 7px;
  background-color: #2F80ED;
  color: white !important;
}

.pageTitle{
  width: 60vw;
  background-color: #FF7A51;
  border-radius: 20px;
  font-size: 1.5rem;
  position: absolute;
  top: 5vh;
  left: 47%;
  transform: translate(-53%);
  color: white;
}

.addButton{
  background-color: #EB5757;
  height: 80% !important;
  color: white;
  border: none;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#currentPage{
  transition: 0.5s;
}