html {
    overflow: hidden !important;
}

body {
    font-family: Comfortaa;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

.bodyDiv {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* border-radius: 50px !important; */
    background-color: #ddd7e0;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 50px;
}


.titlebar {
    background-color: transparent !important;
    height: 4vh !important;
    color: black !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.action-menu-item {
    color: black !important;
    background-color: white !important;
}

.menubar-menu-container {
    background-color: white !important;
}

.action-menu-item:last-of-type {
    height: 35px !important;
}

.action-menu-item:hover {
    color: white !important;
    background-color: rgb(149, 149, 241) !important;
}

.window-controls-container {
    filter: invert(1);
}

#controlPanel{
    z-index: -1;
    position: absolute;
    top: 12vh;
    left: 1vw;
    /* left: 50%;
    transform: translate(-50%); */
}

.controlSection{
    border-radius: 20px;
    /* border: 1px solid gray; */
    display: inline-block;
    background-color: #fcfafa !important;
    /* box-shadow: 0px 0px 20px gray; */
    margin-top: 1vh;
    width: 95vw;
    height: 23vh;
}

.controlButton{
    border-radius: 40px;
    border: none;
    color: white !important;
    margin-top: 1vh !important; 
    height: 30px;
}

#meetingInfo{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 102vw;
    padding-top: 40px;
    padding-bottom: 20px;
    transform: translate(-50%);
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border: 1px solid blue; */
    transition: 0.3s;
    overflow: hidden;
    box-shadow: 0px 3px 20px gray;
}

#expandInfo{
    display: inline-block; 
    background-color: white;
    color: rgb(122, 118, 118);
    border-radius: 20px;
    position: absolute; 
    top: 30vh;
    right: 20px;
    border: 0px solid rgb(158, 155, 155);
    box-shadow: 0px 10px 20px rgb(158, 155, 155);
}

#expandInfo:hover{
    background-color: rgb(158, 155, 155);
    color: white;
}

/* #attendancePanel {
    background-color: orange !important;
}

#appTrack {
    background-color: rgb(0, 107, 173) !important;
} */

#smartChat {
    width: 95vw;
    height: 50vh;
    position: relative;
}

#messageForm{
    position: absolute;
    bottom: 10px;
}

.messageBox{
    width: 100%;
    /* border: 1px solid gray; */
    height: 27vh;
    margin-top: -20px;
    text-align: left;
    overflow: scroll;
    padding: 7px;
    background-color: white;
    /* border: 2px solid lightgray; */
    border-radius: 10px;
}

.messageBox::-webkit-scrollbar-track {
    background: transparent;
}

.messageBox::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.messageBox::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

.message{
    margin-top: -15px;
    background-color: white;
}

.is-active a{
    color: black !important;
    font-weight: bold !important;
    background-color: transparent !important;
}

.message p{
    line-height: 0.9;
    word-wrap: break-word;
}

.message .nameTag{
    color: blue;
    font-weight: bold;
    font-size: 12px;
    margin-left: 40px;
    margin-bottom: 3px; 
}

.message:first-of-type{
    margin-top: 0px;
}

.message .textTag{
    font-size: 14.5px;
    margin-left: 10px;
}

#resourcesBox{
    display: none;
}

#questionsBox{
    display: none;
}

#endClass{
    display: none; 
    z-index: 5; 
    width: 80vw; 
    position: absolute;
    right: 10px;
    top: 30px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.changeViewState{
    border: none !important;
    background: none ;
    padding: 0px !important;
    float: right;
    margin-right: 20px;
    margin-top: 7px !important;
    height: 10px;
}

#questionsHidden{
    display: none;
}

#questionsPanel{
    height: 5vh;
}

#appTrackHidden{
    display: none;
}

#appTrack{
    height: 5vh;
}

#attendancePanel{
    height: 23vh;
}

/* .subBox{
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 5vh;
    background-color: #e9e6eb;
    border-radius: 10px;
} */

.connectedMember{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.connectedMember span{
    font-size: 10px;
}

#Connected{
    overflow-y: hidden;
    /* height: 16vh; */
}

#Connected .connectedMember{
    display: inline-block;
}

.unconnectedMember{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.unconnectedMember span{
    font-size: 10px;
}

#notConnected{
    overflow-y: hidden;
    /* height: 16vh; */
}

#notConnected .unconnectedMember{
    display: inline-block;
}

#attendanceHidden::-webkit-scrollbar-track {
    background: transparent;
}

#attendanceHidden::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#attendanceHidden::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

#attendanceHidden{
    padding-top: 10px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 16vh;
    background-color: #e9e6eb;
    border-radius: 10px;
}

#onTaskStudents{
    padding-top: 10px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 16vh;
    background-color: #e9e6eb;
    border-radius: 10px;
}

#onTaskStudents::-webkit-scrollbar-track {
    background: transparent;
}

#onTaskStudents::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#onTaskStudents::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

studentTaskStatus

.studentTaskStatus{
    margin-top: 2px;
    font-size: 14px;
}

.studentTaskStatus span{
    font-size: 10px;
}

#taskStatus{
    text-align: right;
    font-size: 18px;
}

#onTaskStudents{
    overflow-y: scroll;
    /* height: 16vh; */
}

#onTaskStudents .studentTaskStatus{
    text-align: left;
    padding-left: 4px;
}

#underlay{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    background-color: transparent;
    border: none;
    width: 100vw;
    height: 100vh;
}

.nudgeButton{
    font-weight: bold;
    padding: 10px !important;
    height: 18px;
    font-size: 11px;
    margin-right: 10px;
    float: right;
}

.nudgeButton span{
    font-size: 14px;
}

#minimizedNotif{
    background-color: red !important;
    border-radius: 6px;
    color: white;
    height: 19px;
    width: 32px;
    font-size: 13px;
    text-align: center;
    line-height: 21px;
    margin-top: 3px !important;
    padding-top: 1px !important;
}

#endSession{
    font-size: 15px;
}

#responseEditor{
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 38vh;
    /* background-color: #e9e6eb; */
    border-radius: 10px;
    display: none;
}

#questionEditor{
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 38vh;
    /* background-color: #e9e6eb; */
    border-radius: 10px;
}

#questionType{
    /* float: right; */
    background-color: #2F80ED;
    color: white;
    width: 50vw;
    height: 30px;
    font-size: 15px;
    padding: 0px 5px 0px 10px !important;
}

#selectDiv{
    float: right;
}

textarea{
    resize: none !important;
    overflow-y: scroll;
    padding: 2px;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-track {
    background: transparent;
}

textarea::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

textarea::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

#question-form{
    margin-top: 10px;
}

#question-form h5{
    float: left;
    font-size: 15px;
    margin-top: -5px;
}

#freeResponseBox{
    background-color: #e9e6eb;
    width: 92%;
    margin-top: 40px;
    margin-left: 4%;
    border-radius: 10px;
    height: 13vh;
}

#textFieldIcon{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 50%;
    height: 30px;
    background-color: orange;
    color: white;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}

.tableRow{
    display: table-row;
    border-spacing:0 5px; 
}

.tableRow .tableCell{
    display: table-cell;
}

.choiceTextbox input{
    width: 80% !important;
    height: 30px !important;
}

.choiceTextbox p{
    line-height: 30px;
}

.deleteOption button{
    margin-top: -3px;
    padding: 2px !important;
    width: 30px !important;
    height: 30px !important;
}

#addOption{
    background-color: #2F80ED;
    color: white;
    width: 20vw;
    height: 25px;
    line-height: 25px;
    float: right;
    font-size: 15px;
    margin-top: -5px;
    margin-bottom: 10px;
}

#optionsTable{
    width: 100%; 
    display: table;
    /* background-color: yellow; */
}

#optionsContainer{
    height: 15vh;
    width: 100%;
    overflow-y: scroll;
}

#optionsContainer::-webkit-scrollbar-track {
    background: transparent;
}

#optionsContainer::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#optionsContainer::-webkit-scrollbar-thumb {
    background: #3298DC;
    border-radius: 10px;
}

.popupBox {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    /* height: 250px; */
    transition: 1s;
}

.popupBox>.is-parent>.is-child {
    box-shadow: 0 0 5px 5px rgb(187, 183, 183);
}

.closePopups {
    position: absolute;
    top: 0;
    right: 0;
}

#allFreeResponses{
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
    background-color: #e9e6eb;
    height: 34vh;
    margin-top: 33px;
    overflow-y: scroll;
}

#allFreeResponses::-webkit-scrollbar-track {
    background: transparent;
}

#allFreeResponses::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#allFreeResponses::-webkit-scrollbar-thumb {
    background: #3298DC;
    border-radius: 10px;
}

.keyResponse{
    padding-left: 45px;
    font-size: 12px;
    text-align: left;
}

.keyResponse strong{
    color: blue !important;
}

.valueResponse{
    font-size: 12px;
}

.keyResponse:first-of-type{
    padding-top: 9px;
}

#allSelectResponses{
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
    background-color: #e9e6eb;
    height: 12vh;
    margin-top: 33px;
    overflow-y: scroll;
}

#allSelectResponses::-webkit-scrollbar-track {
    background: transparent;
}

#allSelectResponses::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#allSelectResponses::-webkit-scrollbar-thumb {
    background: #3298DC;
    border-radius: 10px;
}

#graphRespnses{
    position: relative;
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
    background-color: #e9e6eb;
    height: 20vh;
    margin-top: 10px; 
}

#graphAxis{
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translate(-50%);
    width: 94%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(92, 88, 88);
    z-index: 4;
}

#optionsAxis{
    position: absolute;
    bottom: 1px;
    font-size: 15px;
    text-align: center;
    width: 100%;
}

#optionsAxis span{
    display: inline-block;
    width: 18%;
}

#optionsRects{
    position: absolute;
    bottom: 28px;
    text-align: center;
    width: 100%;
    z-index: 2;
    height: calc(93% - 25px);
}

#optionsRects span{
    display: inline-block;
    width: 14%;
    margin-left: 2%;
    margin-right: 2%;
    /* height: 100%; */
    /* top left, top right, bottom right, bottom left */
    border-radius: 5px 5px 0px 0px;
    /* background-color: tomato; */
}