html {
    overflow: hidden !important;
}

body {
    font-family: Comfortaa;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

.bodyDiv {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* border-radius: 50px !important; */
    background-color: #ddd7e0;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    padding-top: 50px;
}


.titlebar {
    background-color: transparent !important;
    height: 4vh !important;
    color: black !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.action-menu-item {
    color: black !important;
    background-color: white !important;
}

.menubar-menu-container {
    background-color: white !important;
}

.action-menu-item:last-of-type {
    height: 35px !important;
}

.action-menu-item:hover {
    color: white !important;
    background-color: rgb(149, 149, 241) !important;
}

.window-controls-container {
    filter: invert(1);
}

#controlPanel{
    z-index: -1;
    position: absolute;
    top: 12vh;
    left: 1vw;
    /* left: 50%;
    transform: translate(-50%); */
}

.controlSection{
    border-radius: 20px;
    /* border: 1px solid gray; */
    display: inline-block;
    background-color: #fcfafa !important;
    /* box-shadow: 0px 0px 20px gray; */
    margin-top: 1vh;
    width: 95vw;
    height: 23vh;
}

.controlButton{
    border-radius: 40px;
    border: none;
    color: white !important;
    margin-top: 1vh !important; 
    height: 30px;
}

#meetingInfo{
    position: absolute;
    top: 0px;
    left: 50%;
    width: 102vw;
    padding-top: 40px;
    padding-bottom: 20px;
    transform: translate(-50%);
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border: 1px solid blue; */
    transition: 0.3s;
    overflow: hidden;
    box-shadow: 0px 3px 20px gray;
}

#expandInfo{
    display: inline-block; 
    background-color: white;
    color: rgb(122, 118, 118);
    border-radius: 20px;
    position: absolute; 
    top: 30vh;
    right: 20px;
    border: 0px solid rgb(158, 155, 155);
    box-shadow: 0px 10px 20px rgb(158, 155, 155);
}

#expandInfo:hover{
    background-color: rgb(158, 155, 155);
    color: white;
}

/* #attendancePanel {
    background-color: orange !important;
}

#appTrack {
    background-color: rgb(0, 107, 173) !important;
} */

#smartChat {
    width: 95vw;
    height: 50vh;
    position: relative;
}

#messageForm{
    position: absolute;
    bottom: 10px;
}

.messageBox{
    width: 100%;
    /* border: 1px solid gray; */
    height: 25vh;
    margin-top: -20px;
    text-align: left;
    overflow: scroll;
    padding: 7px;
    background-color: white;
    /* border: 2px solid lightgray; */
    border-radius: 10px;
}

.messageBox::-webkit-scrollbar-track {
    background: transparent;
}

.messageBox::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.messageBox::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}

.message{
    margin-top: -15px;
    background-color: white;
}

.is-active a{
    color: black !important;
    font-weight: bold !important;
    background-color: transparent !important;
}

.message p{
    line-height: 0.9;
    word-wrap: break-word;
}

.message .nameTag{
    color: blue;
    font-weight: bold;
    font-size: 12px;
    margin-left: 40px;
    margin-bottom: 3px; 
}

.message:first-of-type{
    margin-top: 0px;
}

.message .textTag{
    font-size: 14.5px;
    margin-left: 10px;
}

#resourcesBox{
    display: none;
}

#questionsBox{
    display: none;
}

#endClass{
    display: none; 
    z-index: 5; 
    width: 80vw; 
    position: absolute;
    right: 10px;
    top: 30px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.changeViewState{
    border: none !important;
    background: none !important;
    padding: 0px !important;
    float: right;
    margin-right: 20px;
    margin-top: 7px !important;
    height: 10px;
}

#questionsHidden{
    display: none;
}

#questionsPanel{
    height: 5vh;
}

#appTrackHidden{
    display: none;
}

#appTrack{
    height: 5vh;
}

#attendancePanel{
    height: 23vh;
}

/* .subBox{
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 5vh;
    background-color: #e9e6eb;
    border-radius: 10px;
} */

.connectedMember{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.connectedMember span{
    font-size: 10px;
}

#Connected{
    overflow-y: hidden;
    /* height: 16vh; */
}

#Connected .connectedMember{
    display: inline-block;
}

.unconnectedMember{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.unconnectedMember span{
    font-size: 10px;
}

#notConnected{
    overflow-y: hidden;
    /* height: 16vh; */
}

#notConnected .unconnectedMember{
    display: inline-block;
}

#attendanceHidden::-webkit-scrollbar-track {
    background: transparent;
}

#attendanceHidden::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#attendanceHidden::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

#attendanceHidden{
    padding-top: 10px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 16vh;
    background-color: #e9e6eb;
    border-radius: 10px;
}

#onTaskStudents{
    padding-top: 10px;
    overflow-y: scroll;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 11vh;
    background-color: #e9e6eb;
    border-radius: 10px;
}

#onTaskStudents::-webkit-scrollbar-track {
    background: transparent;
}

#onTaskStudents::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

#onTaskStudents::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

studentTaskStatus

.studentTaskStatus{
    font-size: 14px;
}

.studentTaskStatus span{
    font-size: 10px;
}

#taskStatus{
    text-align: right;
    margin-right: 100px;
    font-size: 18px;
}

#onTaskStudents{
    overflow-y: hidden;
    /* height: 16vh; */
}

#onTaskStudents .studentTaskStatus{
    text-align: left;
}

#underlay{
    position: fixed;
    display: none;
    top:0;
    left: 0;
    background-color: transparent;
    border: none;
    width: 100vw;
    height: 100vh;
}
