.popupBox{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px;
    transition: 1s;
  }
  
  .popupBox > .is-parent > .is-child{
    box-shadow: 0 0 5px 5px rgb(187, 183, 183);
  }
  
  .closePopups{
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #modal-signup{
    display: none;
  }
  
  #modal-login{
    display: none;
  }
  
  #modal-account{
    display: none;
  }
  
  .mainBody{
    margin-top: 7vh;
  }