#navbarLeft {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: white;
    transition: 1s;
    z-index: 2;
    box-shadow: -4px 0px 20px gray;
}

#navbarLeft ul li{
    margin-top: 3vh;
}

#navbarLeft ul{
    position: absolute;
    top: 8vh;
    height: 84vh;
    left: 3vw;
    width: 5vw;
    overflow: hidden;
    transition: 1s;
}

#navbarLeft:hover{
    width:20vw;
    transition-delay:0.3s;
}

#navbarLeft:hover ul{
    left: 1vw;
    width:20vw;
    transition-delay:0.3s;
}


#navbarLeft:hover .triangle-right{
    left: 19.5vw;
    transition-delay:0.3s;
}

#navbarLeft:hover .menuText{
    visibility: visible;
    opacity: 1;
}


#navbarLeft ul li span{
    transition: 0.3s;
    width: 4vw;
    height: 4vw;
    font-size: 1.4vw;
}

#navbarLeft ul li a{
    border-radius: 15px !important;
    color: #aaa8a8;
    background-color: transparent;
    border: none !important;
}

.triangle-right {
    position: absolute;
    left: 9.5vw;
    top: 10vh;
    border-radius: 15px;
    width: 0;
    height: 0;
    border-top: 2.5vw solid transparent;
    border-left: 3vw solid white;
    border-bottom: 2.5vw solid transparent;
    transition: 1s;
    /* box-shadow: -4px 0px 20px gray; */
}

.menuText{
    color: #2F80ED;
    font-size: 1.4vw;
    text-shadow: -4px 4px 10px rgba(0, 0, 0, 0.4);
    transition: visibility 1s, opacity 1s linear;
    visibility: hidden;
    opacity: 0;
}