#navbarLeft {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: white;
    transition: 1s;
}

#navbarLeft ul li{
    margin-top: 20px;
}

#navbarLeft ul li a{
    border-radius: 15px !important;
    color: #aaa8a8;
    background-color: white;
    border: none !important;
}

.triangle-right {
    position: absolute;
    left: 9.5vw;
    top: 10vh;
    border-radius: 15px;

    width: 0;
    height: 0;
    border-top: 2.5vw solid transparent;
    border-left: 3vw solid white;
    border-bottom: 2.5vw solid transparent;
}