* {
    box-sizing: border-box;
}

.slider {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform:translate(-50%);
    width: 17vw;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides>div::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.slides>div::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.slides>div::-webkit-scrollbar-track {
    background: transparent;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 17vw;
    height: 15vh;
    margin-right: 50px;
    border-radius: 10px;
    background: #f7f5f8;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    /* justify-content: center;
    align-items: center; */
    padding-left: 10px;
    padding-top: 3px;
    transition: 1s;
    overflow-y: hidden;
    overflow-x: hidden;
}

.meetings:hover .slides>div {
    height:30vh;
    overflow-y: auto;
}
.meetings:hover #meetingsTitle {
    bottom:40vh;
}

.slider>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    color: black;
}

.slider>a:active {
    top: 1px;
}

.slider>a:focus {
    background: #000;
    color: white;
}

.meetings {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gadgetButton button {
    margin-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 110px;
    border-radius: 10px !important;
}

.gadgetButton {
    margin-top: 30px;
}

.meetingSlide {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 16vw !important;
    overflow-wrap: break-word !important;
}

#meetingsTitle{
    position: absolute;
    bottom: 25vh;
    left: 50%;
    transform: translate(-50%);
    font-size: 1rem;
    transition: 1s;
    font-weight: bold;
}

.meetingBar{
    text-align: center; 
    width: 15vw;
    height: 8px;
    background-color: orange;
    position: absolute;
    top: calc(1.5rem);
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
}

.meetingButtons{
    width: 10px !important;
    height: 30px !important;
    border: 45%;
}